<div class="quadro">
    <form [formGroup]="formulario" autocomplete="off" class="formulario">
        <h2>Bem Vindo Ao Controle De Eventos TKX-Experience DeskTop</h2>
        <h3>Identifique-se Por Favor</h3>

        <div class="linha-login">
            <mat-form-field appearance="outline" class="controle">
                <mat-label>USUÁRIO</mat-label>
                <input matInput formControlName="id" />
            </mat-form-field>
        </div>

        <div class="linha-login">
            <mat-form-field appearance="outline" class="controle">
                <mat-label>Senha</mat-label>
                <input matInput formControlName="senha" type="password" />
            </mat-form-field>
        </div>

        <div class="button-container-right">
            <button mat-raised-button color="primary" class="botao" (click)="validar.emit()">
        Login
      </button>
            <button mat-raised-button color="accent" class="botao" (click)="cancelar.emit()">
        Cancelar
      </button>
        </div>

        <div class="button-container-right botoes-secundarios">
            <button mat-button class="green-icon" (click)="sair.emit()">Sair</button>
            <button mat-button class="green-icon" (click)="esqueceu.emit()">
        Esqueceu A Senha
      </button>
        </div>
    </form>
</div>
