<div class="toolbar-alinhada dialog-header">
  <mat-toolbar color="primary">
    <span class="example-spacer">
      <mat-label>{{ labelCadastro }}</mat-label>
    </span>
    <div class="button-container">
      <button
        mat-raised-button
        color="#FFFFFF"
        (click)="actionFunction()"
        *ngIf="idAcao != 3"
      >
        <mat-icon>check</mat-icon>
        {{ acao }}
      </button>
      <button mat-raised-button color="accent" (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
        {{ getLabelCancel() }}
      </button>
    </div>
  </mat-toolbar>
</div>
<mat-dialog-content class="dialog-content">
  <form [formGroup]="formulario" autocomplete="off" class="form-container">
    <div class="moldura">
      <div class="col-med-3">
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Código</mat-label>
          <input matInput formControlName="id" readonly="true" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="column-span-2">
          <mat-label>Razão Social</mat-label>
          <input matInput formControlName="razao" readonly="true" />
        </mat-form-field>
      </div>
      <div class="col-med-1">
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Senha Antiga</mat-label>
          <input
            [type]="hide ? 'password' : 'text'"
            matInput
            formControlName="senhaantiga"
            autofocus
            [readonly]="readOnly"
          />
          <mat-icon matSuffix (click)="hide = !hide"
            >{{ hide ? "visibility_off" : "visibility" }}
          </mat-icon>
          <mat-error *ngIf="NoValidtouchedOrDirty('senhaantiga')"
            >{{ getMensafield("senhaantiga") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-med-1">
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Nova Senha</mat-label>
          <input
            matInput
            [type]="hide1 ? 'password' : 'text'"
            formControlName="senha"
            autofocus
            [readonly]="readOnly"
          />
          <mat-icon matSuffix (click)="hide1 = !hide1"
            >{{ hide1 ? "visibility_off" : "visibility" }}
          </mat-icon>
          <mat-error *ngIf="NoValidtouchedOrDirty('senha')"
            >{{ getMensafield("senha") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-med-1">
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Repita A Senha</mat-label>
          <input
            matInput
            [type]="hide2 ? 'password' : 'text'"
            formControlName="senharepetida"
            autofocus
            [readonly]="readOnly"
          />
          <mat-icon matSuffix (click)="hide2 = !hide2"
            >{{ hide2 ? "visibility_off" : "visibility" }}
          </mat-icon>
          <mat-error *ngIf="NoValidtouchedOrDirty('senharepetida')"
            >{{ getMensafield("senharepetida") }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
