<div class="toolbar-alinhada dialog-header">
  <mat-toolbar color="primary">
    <span class="example-spacer">
      <mat-label>Cadastro De Usuário No Evento</mat-label>
    </span>
    <div class="botao-com-legenda">

    </div>
  </mat-toolbar>
</div>

<mat-dialog-content class="dialog-content">
  <div cdkScrollable class="scroll-wrapper">
    <form
      [formGroup]="formulario"
      (ngSubmit)="onProcessar()"
      autocomplete="off"
    >
      <div class="col-med-1">
        <mat-form-field appearance="outline" class="uppercase-input col-max">
          <mat-label>CPF:</mat-label>
          <input matInput formControlName="cpf"
           mask='000.000.000-00' [readonly]="data.acao !== getAcoes()['Inclusao']"/>
          <mat-error *ngIf="NoValidtouchedOrDirty('cpf')"
            >{{ getMensafield("cpf") }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-med-1">
        <mat-form-field appearance="outline" class="uppercase-input col-max">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" [readonly]="data.acao == getAcoes()['Exclusao']" />
          <mat-error *ngIf="NoValidtouchedOrDirty('nome')"
            >{{ getMensafield("nome") }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="button-container">

        <button
          mat-raised-button
          color="primary"
          class="botao"
          type="button"
          (click)="onCancelar()"
        >
          <mat-icon>cancel</mat-icon>
          Cancelar
        </button>
        <button mat-raised-button color="accent" class="botao" type="submit">
          <mat-icon>check</mat-icon>
          {{data.acao == getAcoes()['Exclusao'] ? 'Excluir' : 'Gravar'}}
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
