<div class="container" *ngIf="eventoPrincipal.id > 0">
   <div class="col-med-2">
     <div class="col-max box">
        <div id="chart_evento" ></div>
     </div>
     <div class="col-max box cinza" >
        <h3 class="alinha_centro">DADOS DO EVENTO</h3>
        <div class="linha">
          <div class="campo">
            <mat-label class="rotulo">Código:</mat-label>
            <mat-label class="valor">{{ eventoPrincipal.id | zeroFill }}</mat-label>
          </div>

          <div class="campo">
            <mat-label class="rotulo">Início:</mat-label>
            <mat-label class="valor">{{ eventoPrincipal.inicio }}</mat-label>
          </div>

          <div class="campo">
            <mat-label class="rotulo">Término:</mat-label>
            <mat-label class="valor">{{ eventoPrincipal.final }}</mat-label>
          </div>
        </div>

      <div class="linha">
        <div class="campo">
          <mat-label class="rotulo">Desc:</mat-label>
          <mat-label class="valor ellipsis"
                    matTooltip="{{ eventoPrincipal.descricao }}">
            {{ eventoPrincipal.descricao }}
          </mat-label>
        </div>
      </div>

      <div class="linha">
        <div class="campo">
          <mat-label class="rotulo">Rua:</mat-label>
          <mat-label class="valor ellipsis"
                    matTooltip="{{ eventoPrincipal.rua }}, {{ eventoPrincipal.nro }}">
            {{ eventoPrincipal.rua }}, {{ eventoPrincipal.nro }}
          </mat-label>
        </div>
      </div>

      <div class="linha">
        <div class="campo">
          <mat-label class="rotulo">Cidade:</mat-label>
          <mat-label class="valor">{{ eventoPrincipal.cidade }} - {{ eventoPrincipal.uf }}</mat-label>
        </div>

        <div class="campo">
          <mat-label class="rotulo">CEP:</mat-label>
          <mat-label class="valor">{{ eventoPrincipal.cep }}</mat-label>
        </div>
      </div>

      <div class="linha">
        <div class="campo">
          <mat-label class="rotulo">Situação:</mat-label>
          <mat-label class="valor">{{ eventoPrincipal.status | situacao_evento }}</mat-label>
        </div>

        <div class="campo">
          <mat-label class="rotulo">Resp:</mat-label>
          <mat-label class="valor">{{ eventoPrincipal.usuario_razao }}</mat-label>
        </div>
      </div>

      <div class="linha">
        <div class="campo">
          <mat-label class="rotulo">Qtd Part.:</mat-label>
          <mat-label class="valor">{{ eventoPrincipal.qtd_participantes }}</mat-label>
        </div>

        <div class="campo">
          <mat-label class="rotulo">Qtd Kits:</mat-label>
          <mat-label class="valor">{{ eventoPrincipal.qtd_kits }}</mat-label>
        </div>

        <div class="campo">
          <mat-label class="rotulo">Qtd Saldo:</mat-label>
          <mat-label class="valor">{{ eventoPrincipal.qtd_participantes - eventoPrincipal.qtd_kits }}</mat-label>
        </div>
      </div>

    </div>
   </div>
   <div class="col-med-2">
    <div class="col-max box" *ngIf="lsOperadores.length > 0">
        <h3 class="alinha_centro">RESUMO OPERADORES</h3>
        <div class="container_table">
          <table>
            <tr class="coluna-cabec">
              <th>Operador</th>
              <th>TOTAL</th>
            </tr>
            <tr *ngFor="let operador of lsOperadores">
              <td>
                <div class="alinha_esquerda">
                  <mat-label class="Browse_Lanc_td">{{ operador.razao }} </mat-label>
                </div>
              </td>
              <td>
                <div class="alinha_direita">
                  <mat-label class="Browse_Lanc_td_rigth"
                    >{{ operador.total | number: "1.0-0" }}
                  </mat-label>
                </div>
              </td>
            </tr>
          </table>
        </div>
    </div>
    <div class="col-max box" *ngIf="lsCategorias.length > 0">
      <h3 class="alinha_centro">RESUMO CATEGORIAS</h3>

      <div  class="container_table">
        <table>
          <tr class="coluna-cabec">
            <th>Categoria</th>
            <th>TOTAL</th>
          </tr>

          <tr *ngFor="let categoria of lsCategorias">
           <td class="alinha_esquerda">
              <mat-label class="Browse_Lanc_td">
                {{ categoria.categoria_descricao }}
              </mat-label>
            </td>

            <td class="alinha_direita">
              <mat-label class="Browse_Lanc_td_rigth">
                {{ categoria.total | number: "1.0-0" }}
              </mat-label>
            </td>

        </table>
      </div>
    </div>

</div>
