<div class="toolbar-alinhada">
  <mat-toolbar>
    <span class="example-spacer">Eventos </span>
    <app-navegator
      [controle]="controlePaginas"
      (changePage)="onChangePage()"
    ></app-navegator>
    <button
      mat-icon-button
      aria-label="Example icon-button with share icon "
      matTooltip="Retorno"
      matTooltipPosition="above"
      (click)="onHome()"
    >
      <mat-icon>home</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="getEventos()"
      matTooltip="Atualizar"
      matTooltipPosition="above"
    >
      <mat-icon>rotate_right</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Example icon-button with share icon "
      (click)="escolha(getAcoes()['Inclusao'], -1)"
      [matTooltip]="getTexto().incluir"
      matTooltipPosition="above"
    >
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </mat-toolbar>
</div>
<app-formulario-filtro-evento
  PARAMNAME="eventos"
  [HIDE]="hide"
  [EMAIL]="true"
  [DOWNLOAD]="true"
  [CONTROLE_PAGINAS]="controlePaginas"
  (changeParametro)="onChangeParametros($event)"
  (changeHide)="onChangeHide($event)"
/>
<table class="Browse_Lanc tabela-fixa">
  <tr class="coluna-cabec">
    <th class="col-situacao">Quando</th>
    <th class="col-evento">Evento</th>
    <th class="col-participantes">Evento</th>
    <th class="col-acoes">AÇÕES</th>
  </tr>

  <tr *ngFor="let evento of eventos; let i = index">
    <td class="col-situacao">
      <div class="alinha_esquerda">
        <mat-label class="rotulo">Código:</mat-label>
        <mat-label class="valor">{{ evento.id | zeroFill }}</mat-label>

        <mat-label class="rotulo">Início:</mat-label>
        <mat-label class="valor">{{ evento.inicio }}</mat-label>

        <mat-label class="rotulo">Término:</mat-label>
        <mat-label class="valor">{{ evento.final }}</mat-label>
      </div>
    </td>

    <td class="col-evento">
      <div class="alinha_esquerda">
        <mat-label class="rotulo">Desc:</mat-label>
        <mat-label class="valor">{{ evento.descricao }}</mat-label>

        <mat-label class="rotulo">Cidade:</mat-label>
        <mat-label class="valor">{{ evento.cidade }}</mat-label>

        <mat-label class="rotulo">Situação:</mat-label>
        <mat-label class="valor"
          >{{ evento.status | situacao_evento }}
        </mat-label>
      </div>
    </td>

    <td class="col-particpantes">
      <div class="alinha_esquerda">
        <mat-label class="rotulo">Qtd Part.:</mat-label>
        <mat-label class="valor">{{ evento.qtd_participantes }}</mat-label>

        <mat-label class="rotulo">Qtd Kits:</mat-label>
        <mat-label class="valor">{{ evento.qtd_kits }}</mat-label>

        <mat-label class="rotulo">Qtd Saldo:</mat-label>
        <mat-label class="valor"
          >{{ evento.qtd_participantes - evento.qtd_kits }}
        </mat-label>
      </div>
    </td>

    <td class="col-acoes">
      <barra-acoes
        [EXCLUIR]="evento.status == '0' || evento.status == '1'"
        [BARRA_VERTICAL]="
          evento.status == '0' || evento.status == '2' || evento.status == '3'
        "
        [BARRA_ATIVAR]="evento.status == '2'"
        [BARRA_LIBERAR]="evento.status == '0'"
        [BARRA_ENCERRAR]="evento.status == '3'"
        (changeOpcao)="escolha($event, i, evento)"
      ></barra-acoes>
    </td>
  </tr>
</table>
