.header {
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  /* considerando altura da toolbar */
  background-color: #fff;
}

.card-content {
  text-align: center;
  padding: 32px;
  box-shadow: none;
}

.logo {
  max-width: 250px;
  margin-bottom: 24px;
}

.action-button {
  width: 100%;
  font-size: 16px;
}
