<div>
  <mat-toolbar color="primary" class="div-barra">
    <button routerLink="" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>TKX - Experience</span>
    <span *ngIf="!isMobile">
      <button mat-button [matMenuTriggerFor]="cadastros">Cadastros</button>
      <button mat-button [matMenuTriggerFor]="locais">Eventos</button>
      <button mat-button [matMenuTriggerFor]="entrega_kits">Entrega De Kits</button>
      <button mat-button [matMenuTriggerFor]="gerencial">Gerencial</button>
      <button mat-button [matMenuTriggerFor]="sobre">Sobre</button>
    </span>
    <span>
      <!-- #docregion sub-menu -->
      <mat-menu #cadastros="matMenu">
        <button mat-menu-item routerLink="empresas">Empresas</button>
        <button mat-menu-item routerLink="usuarios">Usuários</button>
        <button mat-menu-item routerLink="users">Grupos De Usuários</button>
        <button mat-menu-item routerLink="cadastro_padrao">Categorias</button>
        <button mat-menu-item routerLink="cadastro_padrao">Intervalo Número</button>
        <button mat-menu-item routerLink="cadastro_padrao">Kits</button>
      </mat-menu>
      <mat-menu #locais="matMenu">
        <button mat-menu-item routerLink="locais">Eventos</button>
        <button mat-menu-item routerLink="upload-excel">Importação De Participantes</button>
        <button mat-menu-item routerLink="upload-excel">Associação Numero Do Peito</button>
      </mat-menu>
      <mat-menu #entrega_kits="matMenu">
        <button mat-menu-item routerLink="mobile">Entregar Kits</button>
      </mat-menu>
      <mat-menu #gerencial="matMenu">
      </mat-menu>
      <mat-menu #sobre="matMenu">
        <button mat-menu-item routerLink="param">Parâmentos Do Sistema</button>
      </mat-menu>
    </span>
    <span class="example-spacer"></span>
    <label>Marcos</label>
  </mat-toolbar>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
