<!-- LAYOUT COMPLETO (toolbar + menu + conteúdo) -->
<ng-container *ngIf="showMenu; else layoutSemMenu">

  <!-- ACTION BAR -->
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <img src="./logo-tkx.jpg" class="logo-img" />

    <span class="spacer"></span>
<!-- Usuário e login -->
  <div class="toolbar-right">
    <div class="nav-item">
      <button
        mat-icon-button
        class="example-icon"
        matTooltip="Menu do Usuário"
        matTooltipPosition="above"
        [matMenuTriggerFor]="menuUsuario"
      >
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menuUsuario="matMenu" yPosition="above">
        <button mat-menu-item (click)="onPerfil()">
          <mat-icon>account_circle</mat-icon>
          <span>Perfil</span>
        </button>

        <button mat-menu-item (click)="onAlterarSenha()">
          <mat-icon>lock</mat-icon>
          <span>Alterar Senha</span>
        </button>

        <button mat-menu-item (click)="onSair()">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
      <span>{{ getUsuarioNome().razao | firstName }}</span>
    </div>
  </div>
  </mat-toolbar>

  <!-- LAYOUT PRINCIPAL -->
  <mat-sidenav-container class="layout-container">

    <!-- MENU LATERAL -->
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      class="side-menu"
    >
      <div class="menu-wrapper">

        <!-- MENU DESKTOP -->
        <ng-container *ngIf="!isMobile">
          <ng-container *ngFor="let item of menu">

            <!-- ITEM PRINCIPAL -->
            <div class="menu-item" (click)="toggle(item.key)">
              <span>{{ item.label }}</span>
              <mat-icon class="arrow">
                {{ open[item.key] ? "expand_less" : "expand_more" }}
              </mat-icon>
            </div>

            <!-- SUBMENU -->
            <div *ngIf="open[item.key]">
              <a
                *ngFor="let link of item.links"
                class="submenu-link"
                [routerLink]="link.route"
                (click)="onNavigate()"
              >
                {{ link.label }}
              </a>

              <!-- SUB-SUBMENU -->
              <ng-container *ngFor="let sub of item.children">
                <div class="submenu-title" (click)="toggle(sub.key)">
                  <span>{{ sub.label }}</span>
                  <mat-icon class="arrow">
                    {{ open[sub.key] ? "expand_less" : "expand_more" }}
                  </mat-icon>
                </div>

                <div *ngIf="open[sub.key]" class="sub-submenu">
                  <a
                    *ngFor="let link of sub.links"
                    class="submenu-link"
                    [routerLink]="link.route"
                    (click)="onNavigate()"
                  >
                    {{ link.label }}
                  </a>
                </div>
              </ng-container>
            </div>

          </ng-container>
        </ng-container>

        <!-- MENU MOBILE -->
        <ng-container *ngIf="isMobile">
          <div class="menu-item" routerLink="mobile" (click)="onNavigate()">
            <span>Entrega de Kits</span>
          </div>
        </ng-container>

      </div>
    </mat-sidenav>

    <!-- CONTEÚDO PRINCIPAL -->
    <mat-sidenav-content>
      <div class="div-spin">
        <app-spins></app-spins>
      </div>

      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</ng-container>

<!-- LAYOUT SEM MENU (login, liberaevento, etc.) -->
<ng-template #layoutSemMenu>
  <router-outlet></router-outlet>
</ng-template>
