<div class="toolbar-alinhada dialog-header">
  <mat-toolbar color="primary">
    <span class="example-spacer">
      <mat-label>{{ labelCadastro }}</mat-label>
    </span>
    <div class="button-container">
      <button
        mat-raised-button
        color="#FFFFFF"
        (click)="actionFunction()"
        *ngIf="idAcao != 3"
      >
        <mat-icon>check</mat-icon>
        {{ acao }}
      </button>
      <button mat-raised-button color="accent" (click)="closeModal()">
        <mat-icon>cancel</mat-icon>
        {{ getLabelCancel() }}
      </button>
    </div>
  </mat-toolbar>
</div>
<mat-dialog-content class="dialog-content">
  <form [formGroup]="formulario" autocomplete="off" class="form-container">
    <div class="moldura">
      <div class="col-med-3">
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Código</mat-label>
          <input matInput formControlName="id" />
        </mat-form-field>
        <app-crud-display
          label="Situação"
          [items]="lsSituacoes"
          [control]="statusControl"
          [readOnly]="true"
          displayField="descricao"
          valueField="sigla"
        ></app-crud-display>
        <app-crud-display
          label="Responsável"
          [items]="lsRresponsaveis"
          [control]="idResponsavelControl"
          [readOnly]="isReadOnly()"
          displayField="razao"
          valueField="id"
        ></app-crud-display>
      </div>
      <div class="col-med-1">
        <mat-form-field appearance="outline" class="uppercase-input col-max">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="descricao" [readonly]="readOnly" />
          <mat-error *ngIf="NoValidtouchedOrDirty('descricao')"
            >{{ getMensafield("descricao") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-med-2">
        <mat-form-field appearance="outline" class="uppercase-input col-max">
          <mat-label>Rua</mat-label>
          <input matInput formControlName="rua" [readonly]="readOnly" />
          <mat-error *ngIf="NoValidtouchedOrDirty('rua')"
            >{{ getMensafield("rua") }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="uppercase-input col-max">
          <mat-label>Nro</mat-label>
          <input matInput formControlName="nro" [readonly]="readOnly" />
          <mat-error *ngIf="NoValidtouchedOrDirty('nro')"
            >{{ getMensafield("nro") }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-med-2">
        <mat-form-field appearance="outline" class="uppercase-input col-max">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="bairro" [readonly]="readOnly" />
          <mat-error *ngIf="NoValidtouchedOrDirty('bairro')"
            >{{ getMensafield("bairro") }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="uppercase-input col-max">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="cidade" [readonly]="readOnly" />
          <mat-error *ngIf="NoValidtouchedOrDirty('cidade')"
            >{{ getMensafield("cidade") }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-med-3">
        <mat-form-field appearance="outline" class="uppercase-input col-max">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complemento" [readonly]="readOnly" />
          <mat-error *ngIf="NoValidtouchedOrDirty('complemento')"
            >{{ getMensafield("complemento") }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="uppercase-input col-max">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="estado" [readonly]="readOnly" />
          <mat-error *ngIf="NoValidtouchedOrDirty('estado')"
            >{{ getMensafield("estado") }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="uppercase-input col-max">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" [readonly]="readOnly" />
          <mat-error *ngIf="NoValidtouchedOrDirty('cep')"
            >{{ getMensafield("cep") }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-med-2">
        <mat-form-field appearance="outline" class="uppercase-input col-max">
          <mat-label>Data Inicial</mat-label>
          <input
            matInput
            formControlName="inicio"
            mask="00/00/0000"
            placeholder="DD/MM/AAAA"
            [dropSpecialCharacters]="false"
            placeholder="DD/MM/AAAA"
          />
          <mat-error *ngIf="NoValidtouchedOrDirty('inicio')"
            >{{ getMensafield("inicio") }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="uppercase-input col-max">
          <mat-label>Data Final</mat-label>
          <input
            matInput
            formControlName="final"
            mask="00/00/0000"
            placeholder="DD/MM/AAAA"
            [dropSpecialCharacters]="false"
            placeholder="DD/MM/AAAA"
          />
          <mat-error *ngIf="NoValidtouchedOrDirty('final')"
            >{{ getMensafield("final") }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-med-1">
        <mat-form-field appearance="outline" class="uppercase-input col-max">
          <mat-label>Observação</mat-label>
          <input matInput formControlName="obs" [readonly]="readOnly" />
          <mat-error *ngIf="NoValidtouchedOrDirty('obs')"
            >{{ getMensafield("obs") }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
