.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.dialog-header {
  display: flex;
  justify-content: end;
  align-items: right;
  padding: 1em;
  border-bottom: 1px solid #ccc;
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-dialog-container {
  font-size: 13px;
}

.mat-form-field,
.mat-label,
.mat-input-element,
.mat-select-value,
.mat-option,
.mat-error,
.mat-button,
.mat-toolbar {
  font-size: 13px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 1em;
  border-top: 1px solid #ccc;
}
