<div class="toolbar-alinhada dialog-header">
  <mat-toolbar color="primary">
    <span class="example-spacer">
      <mat-label>{{ labelCadastro }}</mat-label>
    </span>
   <div class="button-container">
      <button
        mat-raised-button
        color="#FFFFFF"
        (click)="onSubmit()"
        [disabled]="disabledSubmit()"
        *ngIf="idAcao != 3"
      >
        <mat-icon>check</mat-icon>
        {{ acao }}
      </button>
      <button mat-raised-button color="accent" (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
        {{ getLabelCancel() }}
      </button>
    </div>
  </mat-toolbar>
</div>
<div class="container-form">
      <form [formGroup]="formulario" autocomplete="off" class="form-container">

          <div class="col-med-2">
            <mat-form-field appearance="outline" class="col-max">
              <mat-label>Evento</mat-label>
              <input matInput formControlName="evento" [readOnly]="true" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="uppercase-input col-max">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome" [readonly]="isReadOnly()" />
              <mat-error *ngIf="NoValidtouchedOrDirty('nome')"
                >{{ getMensafield("nome") }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-med-2">
               <app-crud-display
              label="Categoria"
              [items]="lsCategorias"
              [control]="idCategoriaControl"
              [readOnly]="isReadOnly()"
              displayField="descricao"
              valueField="id"
            ></app-crud-display>

            <app-crud-display
              label="Sexo"
              [items]="lsSexos"
              [control]="sexoControl"
              [readOnly]="isReadOnly()"
              displayField="descricao"
              valueField="sigla"
            ></app-crud-display>
          </div>
          <div class="col-med-4">
            <mat-form-field appearance="outline" class="col-max">
              <mat-label>Inscrição</mat-label>
              <input matInput formControlName="inscricao" [readonly]="isReadOnly()" />
              <mat-error *ngIf="NoValidtouchedOrDirty('inscricao')"
                >{{ getMensafield("inscricao") }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-max">
              <mat-label>Nº Do Peito</mat-label>
              <input matInput formControlName="nro_peito" [readonly]="isReadOnly()" />
              <mat-error *ngIf="NoValidtouchedOrDirty('nro_peito')"
                >{{ getMensafield("nro_peito") }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="uppercase-input col-max">
              <mat-label>CPF</mat-label>
              <input matInput formControlName="cnpj_cpf" [readonly]="isReadOnly()" />
              <mat-error *ngIf="NoValidtouchedOrDirty('cnpj_cpf')"
                >{{ getMensafield("cnpj_cpf") }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="uppercase-input col-max">
              <mat-label>Data Nascimento</mat-label>
              <input
                matInput
                formControlName="data_nasc"
                mask="00/00/0000"
                placeholder="DD/MM/AAAA"
                [dropSpecialCharacters]="false"
                placeholder="DD/MM/AAAA"
              />
              <mat-error *ngIf="NoValidtouchedOrDirty('data_nasc')"
                >{{ getMensafield("data_nasc") }}
              </mat-error>
            </mat-form-field>
          </div>
           <div class="col-med-2">
              <app-crud-display
              label="Situação"
              [items]="lsSitDetalhes"
              [control]="sitDetalheControl"
              [readOnly]="true"
              displayField="descricao"
              valueField="sigla"
              ></app-crud-display>
              <mat-form-field appearance="outline" class="col-max">
              <mat-label>Mensagem</mat-label>
              <input matInput formControlName="mensagem" readonly="true"/>
            </mat-form-field>
           </div>
      </form>
</div>
