<div class="div-barra">
    <mat-toolbar>
        <span class="example-spacer">Rotina Para Incluir Os Participantes No Evento</span
    >
    <div class="button-container">
      <button mat-raised-button color="#FFFFFF" (click)="onExecucao()" [disabled]="this.formulario.valid == false || this.emProcessamento == true || this.foiProcessada == true  ">
        <mat-icon>check</mat-icon>
        Processar
      </button>
      <button mat-raised-button color="accent" (click)="closeModal()">
        <mat-icon>cancel</mat-icon>
         {{ this.foiProcessada == true ? 'Fechar' : 'Cancelar' }}
      </button>
    </div>
  </mat-toolbar>
</div>
<mat-dialog-content class="dialog-content">
  <form [formGroup]="formulario" autocomplete="off" class="form-container" *ngIf="!foiProcessada">
    <div class="col-med-1">
      <mat-form-field appearance="outline" class="uppercase-input col-max">
        <mat-label>Planilha</mat-label>
        <input matInput formControlName="planilha" [readonly]="true" />
      </mat-form-field>
    </div>
  </form>
  <div class="loading-container" *ngIf="emProcessamento">
    <h3>Incluindo Participantes...</h3>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
     <h3>Planilha Sendo Processada. Aguarde...</h3>
  </div>
  <div class="resumo" *ngIf="foiProcessada">
    <h2>Planilha Processada</h2>
    <h2>Total de Linhas: {{ processaPlanilha.total_linhas }}</h2>
    <h2>Linhas Processadas: {{ processaPlanilha.linhas_processadas }}</h2>
    <h2>Linhas com Erro: {{ processaPlanilha.total_linhas_erro }}</h2>
  </div>
</mat-dialog-content>
