.ckeck {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.check-margem {
    margin: 0 10px;
}

H3 {
    margin-top: 4px;
    background-color: blue;
    color: white;
    font-size: medium;
    text-align: center;
}
