:host *:hover {
  background-color: transparent !important;
}

:host ::ng-deep .mat-checkbox:hover .mat-checkbox-inner-container,
:host ::ng-deep .mat-checkbox.cdk-focused .mat-checkbox-inner-container,
:host ::ng-deep .mat-checkbox.cdk-mouse-focused .mat-checkbox-inner-container {
  background-color: transparent !important;
}



.ckeck {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.check-margem {
    margin: 0 10px;
}

H3 {
    margin-top: 4px;
    background-color: blue;
    color: white;
    font-size: medium;
    text-align: center;
}


.barra_mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.check {
  display: flex;
  align-items: center;
}

.botoes {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 10px;
}

.check-margem {
  margin-right: 10px;
}
