<div class="div-barra">
  <span class="example-spacer">Filtro Da Pesquisa</span>
</div>
<form [formGroup]="parametros" autocomplete="off" *ngIf="!hide">
  <div class="col-med-1">
    <div class="check">
      <mat-checkbox
        class="check-margem"
        formControlName="kits"
        (change)="onKit($event)"
        >Kits Já Entregues</mat-checkbox
      >
    </div>
  </div>
  <div class="col-med-1">
    <mat-form-field appearance="outline" class="uppercase-input col-max">
      <mat-label>Pesquisa {{ getTextoTipoPesquisa() }}</mat-label>
      <input matInput formControlName="pesquisa" />
      <button
        *ngIf="hasValue('pesquisa')"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearValue('pesquisa')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</form>
