<div class="area_util">
<div class="toolbar-alinhada dialog-header">
  <mat-toolbar color="primary">
    <span class="example-spacer">
      <mat-label>Participantes Evento : {{data.cabPlanilha.evento_descricao}}</mat-label>
    </span>
    <div class="button-container">
      <button mat-raised-button color="accent" (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
         Voltar
      </button>
    </div>
  </mat-toolbar>
</div>
<div class="toolbar-alinhada">
  <mat-toolbar>
    <span class="example-spacer">Participantes Da Planilha: </span>
    <app-navegator [controle]="controlePaginas" (changePage)="onChangePage()"></app-navegator>
    <button mat-icon-button  aria-label="Example icon-button with share icon"
      (click)="getDetalhes()" matTooltip="Atualizar" matTooltipPosition="above">
      <mat-icon>rotate_right</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon "
      (click)="escolha(getAcoes()['Inclusao'], 1)" [matTooltip]="getTexto().incluir" matTooltipPosition="above">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </mat-toolbar>
</div>
<app-formulario-filtro-detplanilha
   PARAMNAME="detplanilha"
  [HIDE]="hide"
  [EMAIL]="true"
  [DOWNLOAD]="true"
  [CABPLANILHA]="data.cabPlanilha"
  [CONTROLE_PAGINAS]="controlePaginas"
  (changeParametro)="onChangeParametros($event)"
  (changeHide)="onChangeHide($event)"
/>

<table class="Browse_Lanc">
  <tr class="coluna-cabec">
    <th style="width: 15%">Identificação</th>
    <th style="width: 40%">Nome</th>
    <th style="width: 35%">Situação</th>
    <th style="width: 10%">AÇÕES</th>
  </tr>
  <tr *ngFor="let detalhe of lsDetalhes; let i = index">
    <td>
        <div class="linha-info">
        <span class="titulo">Inscrição:</span>
        <span class="valor">{{ detalhe.inscricao }}</span>
        </div>
         <div class="linha-info">
        <span class="titulo">Nº Peito:</span>
        <span class="valor">{{ detalhe.nro_peito}}</span>
        </div>
         <div class="linha-info">
        <span class="titulo">CPF:</span>
        <span class="valor">{{detalhe.cnpj_cpf | cnpjcpf}}</span>
        </div>

    </td>
    <td>
        <div class="linha-info">
        <span class="titulo">Nome:</span>
        <span class="valor">{{ detalhe.nome }}</span>
      </div>
      <div class="linha-info">
        <span class="titulo">Sexo:</span>
        <span class="valor">{{ detalhe.sexo | SexoPipe}}</span>
      </div>
      <div class="linha-info">
        <span class="titulo">Categoria:</span>
        <span class="valor">{{ detalhe.cat_descricao}}</span>
        <span class="titulo">Dt Nasc::</span>
        <span class="valor">{{ detalhe.data_nasc }}</span>
      </div>
    </td>
       <td>
        <div class="linha-info">
        <span class="titulo">Situação:</span>
        <span class="valor">{{ detalhe.status | situacao_det_planilha}}</span>
      </div>
      <div class="linha-info">
        <span class="titulo">Mensagem:</span>
        <span class="valor">{{ detalhe.mensagem_erro }}</span>

      </div>
    </td>
    <td class="acoes">
      <barra-acoes
        [CONSULTAR]="true"
        [ALTERAR]="data.cabPlanilha.status !== '2'"
        [EXCLUIR]="data.cabPlanilha.status !== '2'"
        (changeOpcao)="escolha($event, i, detalhe)"
      >
      </barra-acoes>
    </td>
  </tr>
</table>
</div>



