<div class="toolbar-alinhada">
  <mat-toolbar>
    <span class="example-spacer">Usuários: </span>
    <app-navegator
      [controle]="controlePaginas"
      (changePage)="onChangePage()"
    ></app-navegator>
    <button
      mat-icon-button
      aria-label="Example icon-button with share icon "
      matTooltip="Retorno"
      matTooltipPosition="above"
      (click)="onHome()"
    >
      <mat-icon>home</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="getUsuarios()"
      matTooltip="Atualizar"
      matTooltipPosition="above"
    >
      <mat-icon>rotate_right</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Example icon-button with share icon "
      (click)="escolha(getAcoes()['Inclusao'], -1)"
      [matTooltip]="getTexto().incluir"
      matTooltipPosition="above"
    >
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </mat-toolbar>
</div>
<app-formulario-filtro-usuario
  PARAMNAME="usuarios"
  [HIDE]="hide"
  [EMAIL]="true"
  [DOWNLOAD]="true"
  [CONTROLE_PAGINAS]="controlePaginas"
  (changeParametro)="onChangeParametros($event)"
  (changeHide)="onChangeHide($event)"
/>
<table class="Browse_Lanc">
  <tr class="coluna-cabec">
    <th style="width: 20%;">Identificação</th>
    <th style="width: 35%;">Usuário</th>
    <th style="width: 35%;">Endereço</th>
    <th style="width: 10%;">AÇÕES</th>
  </tr>
  <tr *ngFor="let usuario of usuarios; let i = index">
    <td>
      <div class="alinha_esquerda">
        <mat-label class="rotulo">Código:</mat-label>
        <mat-label class="valor">{{ usuario.id | zeroFill }}</mat-label>
        <mat-label class="rotulo">Cadastro:</mat-label>
        <mat-label class="valor">{{ usuario.cadastr }}</mat-label>
        <mat-label class="rotulo">Situação:</mat-label>
        <mat-label class="valor">{{ usuario.ativo | SituacaoUsuario}}</mat-label>
      </div>
    </td>
       <div class="alinha_esquerda">
        <mat-label class="rotulo">Nome:</mat-label>
        <mat-label class="valor">{{ usuario.razao | zeroFill }}</mat-label>
        <mat-label class="rotulo">E-Mail:</mat-label>
        <mat-label class="valor">{{ usuario.email }}</mat-label>
        <mat-label class="rotulo">Telefone:</mat-label>
        <mat-label class="valor">{{ usuario.tel1}}</mat-label>
      </div>
    <td>
     <div class="alinha_esquerda">
         <mat-label class="rotulo">End:</mat-label>
         <mat-label class="valor">{{ usuario.rua.trim()}},{{usuario.nro}}</mat-label>
         <mat-label class="rotulo">Bairro:</mat-label>
         <mat-label class="valor">{{ usuario.bairro}} CEP:{{usuario.cep}}</mat-label>
         <mat-label class="rotulo">Cidade:</mat-label>
         <mat-label class="valor">{{ usuario.cidade}}, UF:{{usuario.uf}}</mat-label>
       </div>
    </td>
    <td class="acoes">
      <barra-acoes
        [BARRA_VERTICAL]="true"
        [BARRA_EXCLUIR]="false"
        [BARRA_ATIVO_INATIVO]="true"
        [BARRA_ZERAR_SENHA]="true"
        (changeOpcao)="escolha($event, i, usuario)"
      >
      </barra-acoes>
    </td>
  </tr>
</table>
