.lista-participantes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-participante {
    padding: 12px;
    border-radius: 10px;
    /* sombra suave */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.25s ease, transform 0.2s ease;
    &:hover {
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.22);
        transform: translateY(-2px);
    }
    mat-card-header {
        margin-bottom: 10px;
        mat-card-title {
            font-size: 1rem;
            font-weight: 600;
        }
        mat-card-subtitle {
            font-size: 0.9rem;
            color: #666;
        }
    }
    mat-card-content {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .linha {
        display: flex;
        gap: 6px;
        font-size: 0.8rem !important;
        .label {
            font-weight: 600;
            color: #444;
        }
    }
    .destaque {
        color: #b71c1c;
        font-weight: 600;
    }
    mat-card-actions {
        margin-top: 12px;
        display: flex;
        justify-content: flex-end;
    }
}


/* Responsivo */

@media (max-width: 600px) {
    .card-participante {
        mat-card-header {
            mat-card-title {
                font-size: 1.1rem;
            }
        }
    }
}
